.success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success{
    background: green;
}

.error{
    background: red;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.titulo{
   font-family: 'Roboto', sans-serif;
   font-size: 26px;
   color:rgb(21, 54, 88);
   font-weight: bold;
}

 .subtitulo{
   font-family: fantasy;
	color: white;
	text-align: center;
	font-size: 50px;
	text-shadow: 2.5px 2.5px 2.5px #ff7e29;
 }
 .ancho{
    background-color: var(--tri);
}